__pycache__/
*.py[cod]
.venv/
.env
.env.*
/data/
/outputs/
/splits/
*.nii
*.nii.gz
*.npz
*.npy
*.zip
*.pem
*.key
*.pth
!checkpoints/tricontextnet/best_model.pth
!checkpoints/benchmarks/rolling_unet_s/best_model.pth
!checkpoints/benchmarks/base_cmunext/best_model.pth

!checkpoints/benchmarks/tiny_unet/best_model.pth
